* {
    /* outline: 3px red solid; */
    box-sizing: border-box;
}

body {
    background-color: pink;
}

div.menu {
    background-color: white;
    width: 400px;
    padding: 20px 0;
    margin: 2em auto;
    border: 3px #cc0000 dotted;
    border-radius: 25px;
    
}

.header {
    text-align: center;
    font-size: 30px;
}

.list {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 150px;
    font-size: 18px;
}